SUBSCRIPTION_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
FOUNDRY_ACCOUNT_RESOURCE_GROUP=XXXXXX
FOUNDRY_ACCOUNT_NAME=XXXXXXXX
FOUNDRY_AGENT_NAME=XXXXXXX

# App Registration
ENTRA_ID_TENANT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
CLIENT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
CLIENT_SECRET=XXXXXXX
